.indent {
	position: relative;
	margin-left: 20px;
	border-left: 3px solid #e1e2e2;
	padding: 5px;
}

input {
	border-radius: 5px;
	padding: 2px;
	outline: none;
}

.version {
	display : none;
}

#hello_div {
	margin-left: 20px;
	margin-top: 20px;
}
